.sass-cache/

# OS / editor
.DS_Store
.vscode/
.idea/

# Terraform
**/.terraform/
terraform.tfstate
terraform.tfstate.*
*.tfvars
*.tfplan
*.tfstate
*.tfstate.*

# Specific files
state.json
schema.json



# Terraform state
*.tfstate
*.tfstate.*

# Terraform working dir
.terraform/

# JSON files you don’t want
*.json

# Optional logs
*.log