[client]
host=127.0.0.1
port=3306
user=metrics_user
password=metrics_password




apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: redis
  namespace: database-monitoring
spec:
  serviceName: "redis"
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
      - name: redis
        image: redis:6.2
        ports:
        - containerPort: 6379
        env:
        - name: REDIS_PASSWORD
          valueFrom:
            secretKeyRef:
              name: redis-secret
              key: REDIS_PASSWORD
        volumeMounts:
        - name: redis-config
          mountPath: /usr/local/etc/redis/redis.conf
          subPath: redis.conf
        command:
           - sh
           - -c
           - redis-server /usr/local/etc/redis/redis.conf --requirepass "$REDIS_PASSWORD"
      volumes:      
      - name: redis-config
        configMap:
          name: redis-config